
.footer{
    background-color: #000000;
    color: #dddddd;
    height: 70vh;
    width: 100vw;
}

.foot1{
    position: relative;
    width: 100%;
    height: 80%;
    margin: 0;
}

.foot2{
    position: relative;
    width: 100%;
    height: 20%;
    font: normal normal 0.7em 'Roboto';
    border-top: 0.05em solid rgba(255, 255, 255, 0.15);
    letter-spacing: 0.2em;
    margin: 0;
}

.foot1 p{
    color: #ffffff;
    font: normal 600 2em 'Roboto';
    letter-spacing: 0.3em;
    position: absolute;
}

.foot1 p:first-of-type{
    left: 10vw;
    top: 10vh;
}

.foot1 p:nth-of-type(2){
    left: 10vw;
    top: 17vh;
}

.foot1 p:nth-of-type(3), .foot1 p:nth-of-type(4), .foot1 p:nth-of-type(5){
    font-size: 0.85em;
    color: rgba(255, 255, 255, 0.7);
    top: 43vh;
}


.foot1 p:nth-of-type(3){
    left: 15vw;
}

.foot1 p:nth-of-type(4){
    left: 45vw;
}

.foot1 p:nth-of-type(5){
    left: 75vw;
}

.foot2 p{
    position: absolute;
    left: 10vw;
    top: 5vh;
}
